@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,200&display=swap');
* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

/* #video {
    top: -30px;
    left: -30px;
    width: calc(100vw + 60px);
    height: calc(100vw + 60px);
} */

#video {
    position: absolute;
    top: -45px;
    left: -45px;
    width: calc(100vw + 90px);
    height: 100%;
    z-index: -1;
    filter: blur(30px);
}

.loading-text {
    font-size: 50px;
    color: #fff;
}

h1 {
    font-weight: 200;
    margin: 0;
}

.content {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.865);
    width: 100%;
    padding: 15px 30px;
    margin: 0px;
}